.lineAboveTextPages{
    font-size: 30px;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: row;
}
.lineAboveTextPages h2{
    margin-left: 10px;
    font-weight: bold !important;
    margin-bottom: 10px;
}
.lineAboveTextPages span{
    color: var(--color);
}
.listAboutUs{
    width:1310px;
    margin: auto;
    padding:0px 0px;
    text-align: right;
    margin-bottom: 100px;
}
.lineDotted{
    width:873px;
    margin-top: 40px;
    border-top: 3px dotted rgb(173, 173, 173);
}
.floatingSquareHomeWhatsBahamAbout{
    width: 27px;
    height: 27px;
    left: 20px;
    top:63px;
    border-radius: 7px;
    transform: rotate(12deg);
    background-color: var(--color);
    position: absolute;
    z-index: 1;
}

.aboutDives{
    box-shadow: rgba(148, 148, 148, 0.25) 0px 25px 50px -12px;
    border-radius: 40px;
    padding: 80px;
    padding-top: 40px;
    width: 100%;
    direction: rtl !important;
    text-align: right;
}
.aboutDives p{
    margin-top: 0px;
    margin: auto;
    word-spacing: 2px;
    margin-right: 4px;
    color: rgb(66, 66, 66);
    text-align: right;
    line-height: 60px;
    width: 1130px;
    word-break: break-word;
    font-size: 23px;
}
.imageAboutDiv{
    width: 100%;
}
.imageAboutDiv img{
    width: 100%;
}
.listAboutInf{
    background-color: #F5F5F5;
    width: 1090px;
    padding:40px 50px;
    margin: auto;
    height: 600px;
    border-radius: 40px;
    direction: rtl;
    margin-top: -100px;
    position: relative;
    z-index: 10;
    border: 3px solid rgba(153, 153, 153, 0.562);
}
.listAboutInf > div{
    display: flex;
}
.listAboutInf h3{
    margin-right: 20px;
    font-size: 24px;
    color: var(--color);
    word-spacing: 0px;
}
.listAboutInf ul{
    font-size: 20px;
    list-style-type: none;
    color: rgb(94, 94, 94);
    word-spacing: 2px;
    margin-top: -10px;
    width: 566px;
    line-height: 48px;
}
.listAboutInf span{
    color: #363636e3 !important; 
    font-weight: bold;
}
.listAboutInf li{
    position: relative;
}
.listAboutInf li:before {
    content:"·";
    font-size:73px;
    position: absolute;
    top: 3px;
    right: -20px;
}
.secondImageAbout{
    width: 470px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
}
.secondImageAbout img{
    width: 100%;
}
@media screen and (max-width:50000px) {
    .lineAboveTextPages{
        font-size: 18px;
        align-items: center;
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .lineAboveTextPages h2{
        margin-left: 7.6px;
        font-weight: bold !important;
        margin-bottom: 7.6px;
    }
    .lineAboveTextPages span{
        color: var(--color);
    }
    .listAboutUs{
        width:1050px;
        margin: auto;
        padding:0px 0px;
        text-align: right;
        margin-bottom: 76px;
    }
    .lineDotted{
        width:716px;
        margin-top: 30px;
        border-top: 4px dotted rgb(173, 173, 173);
    }
    .floatingSquareHomeWhatsBahamAbout{
        width: 20.4px;
        height: 20.4px;
        left: 15px;
        top:38px;
        border-radius: 5px;
        transform: rotate(9.1deg);
        background-color: var(--color);
        position: absolute;
        z-index: 1;
    }
    
    .aboutDives{
        box-shadow: rgba(148, 148, 148, 0.25) 0px 25px 50px -12px;
        border-radius:34px;
        padding: 61px;
        padding-top: 30px;
        width: 878px;
        direction: rtl !important;
        text-align: right;
    }
    .aboutDives p{
        margin-top: 0px;
        margin: auto;
        word-spacing: 1.5px;
        margin-right: 3px;
        color: rgb(66, 66, 66);
        text-align: right;
        line-height: 40px;
        width: 857px;
        font-family: IRANYekan;
        word-break: break-word;
        font-size: 16px;
    }
    .imageAboutDiv{
        width: 100%;
    }
    .imageAboutDiv img{
        width: 100%;
    }
    .listAboutInf{
        background-color: #F5F5F5;
        width: 832px;
        padding:30px 38px;
        margin: auto;
        height: 458px;
        border-radius: 30px;
        direction: rtl;
        margin-top: -76px;
        position: relative;
        z-index: 10;
        border: 2px solid rgba(153, 153, 153, 0.562);
    }
    .listAboutInf > div{
        display: flex;
    }
    .listAboutInf h3{
        margin-right: 15px;
        font-size: 18px;
        color: var(--color);
        word-spacing: 0px;
    }
    .listAboutInf ul{
        font-size: 15px;
        font-family: IRANYekan;
        list-style-type: none;
        color: rgb(94, 94, 94);
        word-spacing: 1.5px;
        margin-top: 7.6px;
        width: 413px;
        line-height: 36.6px;
    }
    .listAboutInf span{
        color: #363636e3 !important; 
        font-weight: bold;
    }
    .listAboutInf li{
        position: relative;
    }
    .listAboutInf li:before {
        content:"·";
        font-size:55px;
        position: absolute;
        top: 3px;
        right: -15px;
    }
    .secondImageAbout{
        width: 358px;
        margin: auto;
        text-align: center;
        margin-bottom: 23px;
        margin-top: -15px;
    }
    .secondImageAbout img{
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .lineAboveTextPages{
        font-size: 18px;
        align-items: center;
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .lineAboveTextPages h2{
        margin-left: 5.5px;
        font-weight: bold !important;
        margin-bottom: 5.5px;
        font-size: 23px;
    }
    .lineAboveTextPages span{
        color: var(--color);
    }
    .listAboutUs{
        width:781px;
        margin: auto;
        padding:0px 0px;
        text-align: right;
        margin-bottom: 59px;
    }
    .lineDotted{
        width:530px;
        margin-top: 23px;
        border-top: 3.1px dotted rgb(173, 173, 173);
    }
    .floatingSquareHomeWhatsBahamAbout{
        width: 15.5px;
        height: 15.5px;
        left: 16px;
        top:35px;
        border-radius: 4px;
        transform: rotate(7.5deg);
        background-color: var(--color);
        position: absolute;
        z-index: 1;
    }
    
    .aboutDives{
        box-shadow: rgba(148, 148, 148, 0.25) 0px 25px 50px -12px;
        border-radius:26px;
        padding: 47px;
        padding-top: 23px;
        width: 686px;
        direction: rtl !important;
        text-align: right;
    }
    .aboutDives p{
        margin-top: 0px;
        margin: auto;
        word-spacing: 1.5px;
        margin-right: 2.3px;
        color: rgb(66, 66, 66);
        text-align: right;
        line-height: 33px;
        width: 657px;
        word-break: break-word;
        font-size: 12.5px;
    }
    .imageAboutDiv{
        width: 100%;
    }
    .imageAboutDiv img{
        width: 100%;
    }
    .listAboutInf{
        background-color: #F5F5F5;
        width: 650px;
        padding:23px 27px;
        margin: auto;
        height: 357px;
        border-radius: 23px;
        direction: rtl;
        margin-top: -59px;
        position: relative;
        z-index: 10;
        border: 1.5px solid rgba(153, 153, 153, 0.562);
    }
    .listAboutInf > div{
        display: flex;
    }
    .listAboutInf h3{
        margin-right: 11px;
        font-size: 14px;
        color: var(--color);
        word-spacing: 0px;
    }
    .listAboutInf ul{
        font-size: 11.7px;
        list-style-type: none;
        color: rgb(94, 94, 94);
        word-spacing: 1.5px;
        margin-top: 7.6px;
        width: 322px;
        line-height: 28.6px;
    }
    .listAboutInf span{
        color: #363636e3 !important; 
        font-weight: bold;
    }
    .listAboutInf li{
        position: relative;
    }
    .listAboutInf li:before {
        content:"·";
        font-size:42px;
        position: absolute;
        top: 2px;
        right: -11.7px;
    }
    .secondImageAbout{
        width: 279px;
        margin: auto;
        text-align: center;
        margin-bottom: 18px;
        margin-top: -11.5px;
    }
    .secondImageAbout img{
        width: 100%;
    }
}
@media screen and (max-width:800px) {
    .lineAboveTextPages{
        font-size: 13.5px;
        align-items: center;
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .lineAboveTextPages h2{
        margin-left: 4px;
        font-weight: bold !important;
        margin-bottom: 4px;
        font-size: 18px;
    }
    .lineAboveTextPages span{
        color: var(--color);
    }
    .listAboutUs{
        width:585px;
        margin: auto;
        padding:0px 0px;
        text-align: right;
        margin-bottom: 44px;
    }
    .lineDotted{
        width:400px;
        margin-top: 17px;
        border-top: 2.5px dotted rgb(173, 173, 173);
    }
    .floatingSquareHomeWhatsBahamAbout{
        width: 13.25px;
        height: 13.25px;
        left: 9px;
        top:25px;
        border-radius: 43x;
        transform: rotate(5.5deg);
        background-color: var(--color);
        position: absolute;
        z-index: 1;
    }
    
    .aboutDives{
        box-shadow: rgba(148, 148, 148, 0.25) 0px 25px 50px -12px;
        border-radius:19px;
        padding: 35px;
        padding-top: 17px;
        width: 514px;
        direction: rtl !important;
        text-align: right;
    }
    .aboutDives p{
        margin-top: 0px;
        margin: auto;
        word-spacing: 1.2px;
        margin-right: 1.7px;
        color: rgb(66, 66, 66);
        text-align: right;
        line-height: 26px;
        width:504px;
        word-break: break-word;
        font-size: 9.5px;
    }
    .imageAboutDiv{
        width: 100%;
    }
    .imageAboutDiv img{
        width: 100%;
    }
    .listAboutInf{
        background-color: #F5F5F5;
        width: 487px;
        padding:17px 20px;
        margin: auto;
        height: 267px;
        border-radius: 17px;
        direction: rtl;
        margin-top: -44px;
        position: relative;
        z-index: 10;
        border: 1.5px solid rgba(153, 153, 153, 0.562);
    }
    .listAboutInf > div{
        display: flex;
    }
    .listAboutInf h3{
        margin-right: 8px;
        font-size: 10px;
        color: var(--color);
        word-spacing: 0px;
    }
    .listAboutInf ul{
        font-size: 8.5px;
        list-style-type: none;
        color: rgb(94, 94, 94);
        word-spacing: 1.5px;
        margin-top: 7.6px;
        width: 241px;
        line-height: 21.6px;
    }
    .listAboutInf span{
        color: #363636e3 !important; 
        font-weight: bold;
    }
    .listAboutInf li{
        position: relative;
    }
    .listAboutInf li:before {
        content:"·";
        font-size:31px;
        position: absolute;
        top: 2px;
        right: -8.5px;
    }
    .secondImageAbout{
        width: 209px;
        margin: auto;
        text-align: center;
        margin-bottom: 13px;
        margin-top: -8.5px;
    }
    .secondImageAbout img{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .lineAboveTextPages{
        font-size: 12.8px;
        align-items: center;
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .lineAboveTextPages h2{
        margin-left: 4px;
        font-weight: bold !important;
        margin-bottom: 4px;
        font-size: 14px;
    }
    .lineAboveTextPages span{
        color: var(--color);
    }
    .listAboutUs{
        width:390px;
        margin: auto;
        padding:0px 0px;
        text-align: right;
        margin-bottom: 29px;
    }
    .lineDotted{
        width:256px;
        margin-top: 11px;
        border-top: 1.6px dotted rgb(173, 173, 173);
    }
    .floatingSquareHomeWhatsBahamAbout{
        width: 10.5px;
        height: 10.5px;
        left: 9px;
        top:19px;
        border-radius: 3px;
        transform: rotate(5deg);
        background-color: var(--color);
        position: absolute;
        z-index: 1;
    }
    
    .aboutDives{
        box-shadow: rgba(148, 148, 148, 0.25) 0px 25px 50px -12px;
        border-radius:12px;
        padding: 23px;
        padding-top: 11px;
        width: 342px;
        direction: rtl !important;
        text-align: right;
    }
    .aboutDives p{
        margin-top: 0px;
        margin: auto;
        word-spacing: 1.2px;
        margin-right: 1.7px;
        color: rgb(66, 66, 66);
        text-align: right;
        line-height: 20px;
        width:336px;
        word-break: break-word;
        font-size: 8px;
    }
    .imageAboutDiv{
        width: 100%;
    }
    .imageAboutDiv img{
        width: 100%;
    }
    .listAboutInf{
        background-color: #F5F5F5;
        width: 334px;
        padding:11px 14px;
        margin: auto;
        height: 240px;
        border-radius: 12px;
        direction: rtl;
        margin-top: -31px;
        position: relative;
        z-index: 10;
        border: 1.2px solid rgba(153, 153, 153, 0.562);
    }
    .listAboutInf > div{
        display: flex;
    }
    .listAboutInf h3{
        margin-right: 3px;
        font-size: 10px;
        color: var(--color);
        word-spacing: 0px;
    }
    .listAboutInf ul{
        font-size: 7px;
        list-style-type: none;
        color: rgb(94, 94, 94);
        word-spacing: 1px;
        margin-top: 0.6px;
        width: 160px;
        line-height: 16.6px;
        margin-right: -20px;
    }
    .listAboutInf span{
        color: #363636e3 !important; 
        font-weight: bold;
    }
    .listAboutInf li{
        position: relative;
    }
    .listAboutInf li:before {
        content:"·";
        font-size:26px;
        position: absolute;
        top: 2px;
        right: -5.5px;
    }
    .secondImageAbout{
        width: 139px;
        margin: auto;
        text-align: center;
        margin-bottom: 8.5px;
        margin-top: -3.5px;
    }
    .secondImageAbout img{
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .lineAboveTextPages{
        font-size: 11.8px;
        align-items: center;
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .lineAboveTextPages h2{
        margin-left: 3px;
        font-weight: bold !important;
        margin-bottom: 3px;
        font-size: 12px;
    }
    .lineAboveTextPages span{
        color: var(--color);
    }
    .listAboutUs{
        width:340px;
        margin: auto;
        padding:0px 0px;
        text-align: right;
        margin-bottom: 20px;
    }
    .lineDotted{
        width:226px;
        margin-top: 7px;
        border-top: 1.5px dotted rgb(173, 173, 173);
    }
    .floatingSquareHomeWhatsBahamAbout{
        width: 9.5px;
        height: 9.5px;
        left: 7px;
        top:15px;
        border-radius: 2.5px;
        transform: rotate(4.5deg);
        background-color: var(--color);
        position: absolute;
        z-index: 1;
    }
    
    .aboutDives{
        box-shadow: rgba(148, 148, 148, 0.25) 0px 25px 50px -12px;
        border-radius:11px;
        padding: 19px;
        padding-top: 9px;
        width: 302px;
        direction: rtl !important;
        text-align: right;
    }
    .aboutDives p{
        margin-top: 0px;
        margin: auto;
        word-spacing: 1.2px;
        margin-right: 1.7px;
        color: rgb(66, 66, 66);
        text-align: right;
        line-height: 19px;
        width:296px;
        word-break: break-word;
        font-size: 7.5px;
    }
    .imageAboutDiv{
        width: 100%;
    }
    .imageAboutDiv img{
        width: 100%;
    }
    .listAboutInf{
        background-color: #F5F5F5;
        width: 290px;
        padding:7px 10px;
        margin: auto;
        height: 230px;
        border-radius: 10px;
        direction: rtl;
        margin-top: -25px;
        position: relative;
        z-index: 10;
        border: 1.2px solid rgba(153, 153, 153, 0.562);
    }
    .listAboutInf > div{
        display: flex;
    }
    .listAboutInf h3{
        margin-right: 2px;
        font-size: 9px;
        color: var(--color);
        word-spacing: 0px;
    }
    .listAboutInf ul{
        font-size: 6.5px;
        list-style-type: none;
        color: rgb(94, 94, 94);
        word-spacing: 1px;
        margin-top: 0.6px;
        width: 150px;
        line-height: 16.6px;
        margin-right: -25px;
    }
    .listAboutInf span{
        color: #363636e3 !important; 
        font-weight: bold;
    }
    .listAboutInf li{
        position: relative;
    }
    .listAboutInf li:before {
        content:"·";
        font-size:24px;
        position: absolute;
        top: 2px;
        right: -5.5px;
    }
    .secondImageAbout{
        width: 109px;
        margin: auto;
        text-align: center;
        margin-bottom: 8.5px;
        margin-top: -3.5px;
    }
    .secondImageAbout img{
        width: 100%;
    }
}
