.Overview_alleyProblem {
    width: 49%;
    height: 410px;
    padding: 5px 30px;
    box-sizing: border-box;
    background-color: var(--Overviewbackground);
    border-radius: 30px;
 
}
.Overview_alleyProblemHeader {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

.Overview_alleyProblemHeader2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
    font-weight: bold;
    font-size: 17px;
    margin-top:10px;
}

.AlleyProblemBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left:2px solid rgb(52, 52, 52);
    width: 100%;
    box-sizing: border-box;
    row-gap: 4px;
    margin-top:25px;
}
.Overview_alleyProblemFooter {
    display: flex;
    align-items: center;
    margin-top:20px;

    justify-content: space-between;
}
.Overview_alleyProblemFooter_rightText {
    display: flex;
    align-items: center;
    font-weight: bold;

}
.Overview_alleyProblemFooter_rightText1 {
    color:rgb(52, 52, 52);
}
.Overview_alleyProblemFooter_rightText2 {
    color:rgb(244, 68, 84);
    margin-right:2px;
}
.Overview_alleyProblemFooter_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Overview_alleyProblemFooter_leftRateContainer {
    height: 42px;
    width: 45px;
    border-radius: 13px;
    border:2px solid white;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 98, 157);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px, rgba(0, 0, 0, 0.05) 0px 5px 10px;    
}
.Overview_alleyProblemFooter_leftRate {
    font-size:22px;
    font-weight: bold;
    padding-top:3px;
}
.Overview_alleyProblemFooter_leftguides {
    display: flex;
    flex-direction: column;
    border-right : 2px solid rgb(52,52,52);
    box-sizing: border-box;
    font-size: 11px;

    font-weight: bold;
    padding-right:6px;
    margin-right:14px;

}
.Overview_alleyProblemFooter_leftguide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.Overview_alleyProblemFooter_leftguideIcon1 {
    height: 12px;
    width: 12px;
    background-color: rgb(22, 98, 157);
    border-radius: 6px;
    border:2px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px, rgba(0, 0, 0, 0.05) 0px 5px 10px;    
}
.Overview_alleyProblemFooter_leftguideIcon2 {
    height: 10px;
    width: 30px;
    background-color:rgb(244, 68, 84) ;
    border-radius: 10px;
}
.Overview_alleyProblemFooter_leftguideIcon3 {
    height: 10px;
    width: 30px;
    background-color:rgb(12, 167, 125) ;
    border-radius: 10px;
}


@media screen and (max-width:1350px) {
    .Overview_alleyProblemFooter_rightText {
        font-size:13px;
    }
}


@media screen and (max-width:1250px) {
    .Overview_alleyProblemFooter {
       /* flex-direction: column;
        width: 100%;*/
    }
}
@media screen and (max-width:1180px) {
    .Overview_alleyProblemFooter {
         flex-direction: column;
         width: 100%;
     }
     .Overview_alleyProblemFooter_left {
        margin-top:10px;
     }
     .Overview_alleyProblem {
        margin-top:10px;
        height: 450px;
        width: 100%;
     }
}

@media screen and (max-width:595px) {
    .Overview_alleyProblemHeader2 {
        font-size: 14px;
    }
}