.ChiefDashbord {
    width: 88.5%;
    margin:auto;
    height: auto;
    background-color: rgb(245, 245, 245);
    display: flex;
    margin-bottom: 50px;
    font-family: IRANYekan;
    max-width: 1500px;
    position: relative;
}
.ChiefDashbord_Feed {
    flex:0.84;
    width: 100%;
    overflow-x: hidden;
}
.ChiefDashbord_FeedHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;

}
.ChiefDashbord_FeedHeaderLogin {
    display: flex;
    align-items: center;

    border: 2px solid rgb(229, 229, 229);
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 11px;
}
.ChiefDashbord_FeedHeaderLogout {
    display: flex;
    align-items: center;
    margin-right:auto;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    padding: 5px 15px;
    margin-right:20px;
    cursor: pointer;
}
.ChiefDashbord_FeedHeaderTitle {
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    margin-right:10px;
    color:rgb(130, 130, 130)
}
.ChiefDashbord_FeedHeaderTitleBor {
    height: 27px;
    background-color: var(--color);
    width: 4px;
    border-radius: 3px;

}
.ChiefDashbord_FeedHeaderTitleContainer {
    display: flex;
    align-items: center;
}
.ChiefDashbord_FeedHeaderLoginTitle1 {
    color:rgb(178, 178, 178)

}
.ChiefDashbord_FeedHeaderLoginTitle2 {
    color:rgb(51, 51, 51);
    font-weight: bold;
    margin-right:5px;
    font-size: 12px;
}
.ChiefDashbord_FeedHeaderLogoutTitle {
    color:rgb(190, 190, 190);
    font-size: 13px;
    font-family: IRANSansX;
}
.ChiefDashbord_FeedHeaderLogoutIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(223, 69, 8);
    margin-right:5px;
    font-size: 18px;
}
.ChiefDashbord_FeedContent {
    padding:0px 30px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.ChiefDashbord_FeedContentEvaluationContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(229, 229, 229);
    padding-bottom: 5px;
}
.ChiefDashbord_FeedContentEvaluationTitles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ChiefDashbord_FeedContentEvaluationTitleContainer {
    display: flex;
    align-items: flex-start;
}
.ChiefDashbord_FeedContentEvaluationTitleIcon {
    font-size:23px;
    color:rgb(254, 111, 56);
    display: flex;
    align-items: flex-start;
}
.ChiefDashbord_FeedContentEvaluationTitle {
    color:rgb(116, 116, 116);
    font-size: 17px;
    font-weight: bold;
    margin-right: 2px;
    padding-bottom: 6px;
}
.ChiefDashbord_FeedContentEvaluationTitleDescribe {
    font-size: 10px;
    color:rgb(141, 141, 141);
}
.ChiefDashbord_FeedContentEvaluationButtonC {
    display:flex;
    align-items: center;
    color:white;
    background-color: var(--color);
    font-size: 11px;
    padding: 6px 26px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px rgba(254, 72, 0, 0.233);
}
.ChiefDashbord_FeedContentEvaluationButtonIcon {
    display: flex;
    align-items: center;
}
.ChiefDashbord_FeedContentEvaluationButtonTitle {
    margin-right:5px;
}

.ChiefDashbord_Feed_PostFiltersButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:30px;
    border-bottom: 2px solid rgb(229, 229, 229);
}
.ChiefDashbord_Feed_PostFilters {
    display: flex;
    align-items: center;
    justify-content: right;
}
.ChiefDashbord_Feed_PostFilter {
    font-size: 11px;
    color:rgb(171, 171, 171);
    font-weight: bold;
    height: 100%;
    padding: 10px 7px;
    cursor: pointer;
    margin-bottom: -2px;
}
.ChiefDashbord_Feed_PostButtonTitle {
    margin-left:5px;
}
.ChiefDashbord_Feed_PostFilterActive {
    color:rgb(116, 116, 116);
    border-bottom: 2px solid var(--color);
}
.ChiefDashbord_Feed_PostButton {
    display:flex;
    align-items: center;
    color:white;
    background-color: var(--color);
    font-size: 11px;
    padding: 6px 26px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px rgba(254, 72, 0, 0.233);
}
.PostFilters2Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.PostFilters2Top {
    display: flex;
    align-items: center;
    justify-content: right;
}
.PostFilters2TopInputContainer {
    display: flex;
    align-items: center;
    padding: 0px 6px;
    background-color: white;
    border-radius: 10px;
    height: 32px;
    min-width: 180px;
    justify-content: space-between;
    margin-right:10px;

}
.PostFilters2TopInput {
    background-color: transparent;
    outline: none;
    border: none;
    color:rgb(178, 178, 178);
}
.PostFilters2TopInput::placeholder {
    font-size:11px;
    font-Weight:400;
    color:rgb(178, 178, 178);
}
.PostFilters2TopInputIcon {
    height: 100%;
    display: flex;
    align-items: center;
    color:rgb(168, 168, 168);
}
.PostFilters2Down {
    display: flex;
    align-items: center;
    margin-top:10px;
}
.PostFilters2DownRemoveContainer {
    padding: 8px 15px;
    background-color: rgb(255, 218, 217);
    display: flex;
    align-items: center;
    color:rgb(239, 56, 52);
    border-radius: 10px;
    margin-right:10px;
}
.PostFilters2DownRemoveTitle {
     font-size: 11px;
     margin-right:2px;
     font-weight: bold;
}
.PostFilters2DownRemoveIcon {
    display: flex;
    align-items: center;
}
.ChiefDashbord_FeedBuildings {
    margin-top:30px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    position: relative;
}
.ChiefDashbord_FeedBuildingstitles {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 11px;
    color:rgb(162, 162, 162);
    font-weight: bold;
    padding: 0px 10px;
    margin-bottom: 10px;
    min-width: 710px;
}
.ChiefDashbord_FeedBuildingstitles > span {
   text-align: center;

}
.ChiefDashbord_FeedBuildingstitle1 {
    width: 7%;
}
.ChiefDashbord_FeedBuildingstitle2{
    width: 11%;
}
.ChiefDashbord_FeedBuildingstitle3{
    width: 12.5%;
}
.ChiefDashbord_FeedBuildingstitle4{
    width: 12.5%;
}
.ChiefDashbord_FeedBuildingstitle5{
    width: 11%;
}
.ChiefDashbord_FeedBuildingstitle6{
    width: 11%;
}
.ChiefDashbord_FeedBuildingstitle7{
    width: 11%;
}
.ChiefDashbord_FeedBuildingstitle8{
    width: 24%;
}


.ChiefDashbord_FeedResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top:20px;

}
.ChiefDashbord_FeedTotalAmount {
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    box-sizing: border-box;
    font-size: 11px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 1px rgb(221, 221, 221);

}
.ChiefDashbord_FeedTotalAmountTitle {
    flex:0.3;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color:rgb(118, 118, 118);
}
.ChiefDashbord_FeedTotalAmountNumberContainer {
    flex:0.7;
    background-color: rgb(245,245,245);
    padding: 5px 0px;
    border-radius: 8px;
    font-size: 18px;
    color:var(--color);
    font-weight: bold;
}
.ChiefDashbord_FeedTotalAmountNumber {

}
.ChiefDashbord_FeedInpureIncome {
    width: 50%;
    background-color: rgb(104, 104, 104);
    color:white ;
    margin-top:10px;
    padding: 8px 5px;
}

.ChiefDashbord_FeedTotalAmountRial {
    font-size: 9px;
    margin-right:3px;
}
.ChiefDashbord_FeedTotalAmountTitleINpureIncome {
    color:rgb(255, 255, 255);
    flex:0.25;
    text-align: right;
    padding-right:15px;
    margin-left:-15px;
    box-sizing: border-box !important;
}
.ChiefDashbord_FeedTotalAmountNumberContainerInpureIncome {
    flex:0.75;
    padding: 10px 0px;
    background-color: rgb(255,255,255);
}   

.ChiefDashbord_FeedCosts {
    width: 60%;
    background-color: var(--color);
    color:white ;
    margin-top:10px;
    padding: 8px 5px; 
}
.ChiefDashbord_FeedTotalAmountTitleCosts {
    flex:0.2;
}
.ChiefDashbord_FeedTotalAmountNumberContainerCosts {
    flex:0.8;
}
.ChiefDashbord_FeedSharesContainer {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    box-shadow: 0px 2px 5px 1px rgb(221, 221, 221);
}
.ChiefDashbord_FeedSharesTitles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ChiefDashbord_FeedSharesTitle {
    flex:0.3;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color:rgb(118, 118, 118);
}
.ChiefDashbord_FeedShares {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ChiefDashbord_FeedShare {
    flex:0.3;
    margin-top:10px;
}

.PersonBoxesContainer {
    width: 100%;
    margin-top:30px;
    box-sizing: border-box;
    overflow-x: scroll;
    position: relative;
}
.ChiefDashbord_FeedPersonBoxestitles {
    display: grid;
    grid-template-columns: 0.4fr 1.3fr 1.2fr 1.5fr 1.3fr 0.7fr;
    font-size: 11px;
    color:rgb(162, 162, 162);
    font-weight: bold;
    padding: 0px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    min-width: 850px;
}



.ChiefDashbord_FeedBuildings::-webkit-scrollbar {
    width: 3px;
    height: 3px; 
}

.ChiefDashbord_FeedBuildings::-webkit-scrollbar-thumb {
    background-color: rgba(254, 72, 0, 0.726);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }
.ChiefDashbord_FeedBuildings::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(254, 72, 0, 0.219);
    padding: 4px 0px;
    height: 10px;
  }






  .PersonBoxesContainer::-webkit-scrollbar {
    width: 3px;
    height: 3px; 
}

.PersonBoxesContainer::-webkit-scrollbar-thumb {
    background-color: rgba(254, 72, 0, 0.726);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }
.PersonBoxesContainer::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(254, 72, 0, 0.219);
    padding: 4px 0px;
    height: 10px;
  }



.ChiefDashbord_FeedPersonBoxestitles > span {
text-align: center;

}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top:40px;
    margin-bottom: 30px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--color);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.ChiefDashbord_ChartAndTitleContainer {
    margin-top:20px;
    border-top:2px solid rgb(230, 230, 230);
}
  .ChiefDashbord_ChartTitleExact {
      width: 100%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding:13px 0px;
      border-radius: 10px;
      margin-top:5px;
  }
  .ChiefDashbord_ChartTitleExact > span {
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(89, 89, 89);
    font-size: 13px;
    font-weight: bold;
  }

.ChiefDashbord_SidebarContainer {
    flex:0.16;
}
.Links_DrawerChiefBoard {
    background-color: white;
}
.Links_DrawerChiefBoardContainer {
    background-color: white;
    z-index: 1000;
    margin-top:-20px;

}
.ChiefDashbord_sideBarOpenIconContainer {
    color:rgb(128, 128, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-left:10px;
}

@media screen and (max-width : 1156px) {
    .ChiefDashbord_FeedTotalAmountTitleINpureIncome {

    }
    .ChiefDashbord_FeedTotalAmount {
        width: 40%;
    }
    .ChiefDashbord_FeedInpureIncome {
        width: 60%;
    }

    .ChiefDashbord_FeedCosts {
        width: 70%;
    }
}
@media screen and (max-width : 980px) {
    .ChiefDashbord_FeedTotalAmountTitleINpureIncome {

    }
    .ChiefDashbord_FeedTotalAmount {
        width: 50%;
    }
    .ChiefDashbord_FeedInpureIncome {
        width: 70%;
    }

    .ChiefDashbord_FeedCosts {
        width: 80%;
    }
}

@media screen and (max-width : 900px) {
    .ChiefDashbord_SidebarContainer {
        display: none;
    }
    .ChiefDashbord {
        width: 95%;
    }
    .ChiefDashbord_Feed {
        flex:1;
    }
    .ChiefDashbord_FeedHeader {

    }

}
@media screen and (max-width : 638px) {
    .ChiefDashbord_FeedHeaderLoginTitle1 {
        display: none;
    }
    .ChiefDashbord_FeedHeaderLoginTitle2 {
        display: none;
    }
    .ChiefDashbord_FeedHeaderTitle {
        font-size: 11px;
    }
    .ChiefDashbord_FeedHeaderLogout {
        margin-right:0px;
    }
    .ChiefDashbord_FeedContent {
        padding:0px 10px;
    }
    .ChiefDashbord_FeedTotalAmount {
        width: 60%;
    }
    .ChiefDashbord_FeedInpureIncome {
        width: 80%;
    }

    .ChiefDashbord_FeedCosts {
        width: 90%;
    }
    .ChiefDashbord_FeedTotalAmountTitleINpureIncome {
        font-size: 11px;
    }
    .ChiefDashbord_FeedTotalAmountNumber {
        font-size: 14px;
    }
}

@media screen and (max-width : 535px)  {
    .ChiefDashbord_FeedTotalAmount {
        width: 70%;
    }
    .ChiefDashbord_FeedInpureIncome {
        width: 90%;
    }

    .ChiefDashbord_FeedCosts {
        width: 100%;
    }
    .ChiefDashbord_FeedSharesTitle {
        font-size: 11px;
        flex:0.33;
    }
    .ChiefDashbord_FeedShare {
        flex:0.3 !important;
    }
}

@media screen and (max-width : 504px) {

    .PostFilters2Top {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    .PostFilters2TopInputContainer {
        margin-top:10px;
        margin-right:0px;
    }
}
@media screen and (max-width : 430px) {
    .ChiefDashbord_FeedSharesTitle {
        font-size: 10px;
    }
}
@media screen and (max-width : 420px)  {
    .ChiefDashbord_FeedTotalAmount {
        width: 70%;
    }
    .ChiefDashbord_FeedInpureIncome {
        width: 90%;
    }
    .ChiefDashbord_FeedCosts {
        width: 100%;
    }
    .ChiefDashbord_FeedTotalAmountNumberContainer {
        flex:0.67;
    }
    .ChiefDashbord_FeedTotalAmountTitle {
        flex:0.33;
    }
}
@media screen and (max-width : 395px) {
    .ChiefDashbord_FeedSharesTitle {
        font-size: 9.5px;
    }
}
