.DropDown1 {
    display: flex;
    align-items: center;

}
.DropDown1Title {
    margin-left:5px;
    font-size: 12px;
    color:rgb(111, 111, 111);
    font-weight: bold;
}
@media screen and (max-width : 525px)  {
    .DropDown1 {
        justify-content: space-between;
        width: 70%;

    }

}
@media screen and (max-width : 425px)  {
    .DropDown1 {
        justify-content: space-between;
        width: 80%;

    }

}
@media screen and (max-width : 370px)  {
    .DropDown1 {
        justify-content: space-between;
        width: 90%;

    }

}