.BaaHam_MU_IntroductionTable {
    display: flex;
    align-items: center;
    justify-content: right;
   
    row-gap: 10px;
    width: 100%;
    overflow-x: scroll !important;
    min-width: 0;

}
.BaaHam_MU_IntroductionTableRow {
    width: 7%;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    color:rgb(109, 109, 109);
    font-size: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.BaaHam_MU_IntroductionTableItem {
    width: 14.5%;
    min-width: 80px;
    margin-right:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    color:rgb(109, 109, 109);
    font-size: 11px;
    position: relative;
    border-radius: 10px;
   
}
.BaaHam_MU_IntroductionTableItemTitle {
    height: 50%;
    background-color: rgb(52, 52, 52);
    border-radius: 10px;
    color:white;
    font-size: 12px;
    font-weight: bold;
    padding:8px 0px;
    width: 100%;
}   
.BaaHam_MU_IntroductionTableItemContent {
    padding: 8px 0px;
    font-weight: bold;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.BaaHam_MU_IntroductionTable::-webkit-scrollbar {
    width: 5px;
    height: 5px; 

}

.BaaHam_MU_IntroductionTable::-webkit-scrollbar-thumb {
    background-color: rgba(254, 72, 0, 0.726);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }
.BaaHam_MU_IntroductionTable::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(254, 72, 0, 0.219);
    padding: 4px 0px;
    height: 10px;
  }