.AlleyProblemBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}
.AlleyProblemBoxTitleContainer {
    width: 38%;
    background-color: white;
    border-radius: 8px;
    height: 27px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right:10px;
    box-sizing: border-box;
}
.AlleyProblemBoxBarContainer {
    width: 61%;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}
.AlleyProblemBoxBar {
    width: 91%;
    height: 40%;
    border-top-right-radius: 11px;
    border-bottom-right-radius:11px;
}
.AlleyProblemBoxBarRate {
    margin-left:3px;
    font-size: 10px;
}
.AlleyProblemBoxTitleContainerDot {
    width: 5px;
    height: 5px;
    background-color: rgb(245, 68, 86);
    border-radius: 50%;
}
.AlleyProblemBoxTitle {
    margin-right:4px;
    font-weight: bold;
}
.AlleyProblemBoxBarContainerAbs {
    position: absolute;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.AlleyProblemBoxBarContainerAbsBox {
    height: 15px;
    width: 15px;
    background-color: rgb(22, 98, 157);
    border-radius: 5px;
    border:2px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.AlleyProblemBoxBarContainerAbsBoxRate {
    font-size: 8px;
    color:white;
}


@media screen and (max-width:1350px) {
    .AlleyProblemBoxTitle {
        font-size:11px;
    }
}
@media screen and (max-width:1180px) {
    .AlleyProblemBoxTitle {
        font-size:10px;
    }
}