.BaaHam_SUContentSideBarUserPicture {
    background: linear-gradient(0deg, rgba(90,69,236,1) 0%, rgba(17,185,254,1) 100%) !important;
}
.BaaHam_NormalUsersContentContainer {

}
.BaaHam_NormalUsersContent {
    position: relative !important;
}
.BaaHam_SUContentForm {
    position: relative !important;
}